
@{
    Layout = "Layout";
}

<main>

    <div class="slides">
        <img src="~/images/carousel1.jpg" />
    </div>

    <h1>Clasificación de los vertebrados</h1>

    <div class="categorias">
        <a href="~/Segun-Su-Clase">
            Según su clase
            <img src="~/images/clases.png" />
        </a>
        <a href="~/Segun-Su-Habitat">
            Según su habitat
            <img src="~/images/habitat.png" />
        </a>
    </div>

</main>